/SmartBudget/.env
/SmartBudget/node_modules
/SmartBudget/client/node_modules
/SmartBudget/package-lock.json
/SmartBudget/package.json
/smartBudget/.env
/SmartBudget/uploads/
SmartBudget/server/uploads/
SmartBudget/bul.traineddata
SmartBudget/eng.traineddata
.env
/SmartBudget/SmartBudget/client/node_modules